<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sk.maiqian"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".module.home.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".module.home.activity.DaYiJieHuoActivity"/>
        <activity android:name=".module.home.activity.QianZhengDaiBanActivity"/>
        <activity android:name=".module.home.activity.WoYaoLiuYanActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".module.home.activity.QianZhengActivity"/>
        <activity android:name=".module.home.activity.QianZhengDetailActivity"/>
        <activity android:name=".module.home.activity.DingDanTianXieActivity"/>
        <activity android:name=".module.home.activity.SelectDateActivity"/>
        <activity android:name=".module.home.activity.AddressListActivity"/>
        <activity android:name=".module.my.activity.EditAddressActivity"/>
        <activity android:name=".module.home.activity.PaySuccessActivity"/>
        <activity android:name=".module.home.activity.EditShenQingRenActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".module.home.activity.ZaiZhiRenYuanActivity"/>
        <activity android:name=".module.yingyupeixun.activity.EnglishPeiXunActivity" android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".module.yingyupeixun.activity.KeChengDetailActivity"/>
        <activity android:name=".module.yingyupeixun.activity.LaoShiJieShaoActivity"/>
        <activity android:name=".module.yingyupeixun.activity.TiJiaoOrderActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".module.yingyupeixun.activity.YinpinDetailActivity"/>
        <activity android:name=".module.youxue.activity.YouXueActivity"  android:windowSoftInputMode="adjustNothing"/>/>
        <activity android:name=".module.youxue.activity.YouXueDetailActivity"/>
        <activity android:name=".module.youxue.activity.YouXueShenQingActivity"/>
        <activity android:name=".module.liuxue.activity.LiuXueShenQingActivity"/>
        <activity android:name=".module.liuxue.activity.LiuXueActivity" android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".module.liuxue.activity.LiuXueDetailActivity"/>
        <activity android:name=".module.my.activity.LoginActivity"/>
        <activity android:name=".module.my.activity.RegisterActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".module.my.activity.FindPWDActivity"/>
        <activity android:name=".module.my.activity.ResetPWDActivity"/>
        <activity android:name=".module.my.activity.PersonInfoActivity"/>
        <activity android:name=".module.my.activity.JiFenActivity"/>
        <activity android:name=".module.my.activity.JiFenShuoMingActivity"/>
        <activity android:name=".module.my.activity.JiFenMingXiActivity"/>
        <activity android:name=".module.my.activity.MyBankListActivity"/>
        <activity android:name=".module.my.activity.TiXianActivity"/>
        <activity android:name=".module.my.activity.TiXianSuccessActivity"/>
        <activity android:name=".module.my.activity.AddBankActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".module.my.activity.FenXiaoActivity"/>
        <activity android:name=".module.my.activity.MyMessageActivity"/>
        <activity android:name=".module.my.activity.SettingActivity"/>
        <activity android:name=".module.my.activity.MyAddressListActivity"/>
        <activity android:name=".module.my.activity.EditNicknameActivity"/>
        <activity android:name=".module.my.activity.YiJianFanKuiActivity"/>
        <activity android:name=".module.my.activity.EditPhoneActivity"/>
        <activity android:name=".module.my.activity.MyCollectionActivity"/>
        <activity android:name=".module.home.activity.ZiXunDetailActivity"/>
        <activity android:name=".module.order.activity.OrderListActivity"/>
        <activity android:name=".module.order.activity.OrderDetailActivity"/>
        <activity android:name=".module.my.activity.XieYiActivity"/>
        <activity android:name=".module.my.activity.UpdatePWDActivity"/>
        <activity android:name=".module.my.activity.ZhuanJiFenActivity"/>
        <activity android:name=".module.home.activity.LookAnswerActivity"/>
        <activity android:name=".module.home.activity.RiLiActivity"/>
        <activity android:name=".module.home.activity.MuBanActivity"/>
        <activity android:name=".module.yingyupeixun.activity.EnglishPeiXunOnlineActivity"/>
        <activity android:name=".module.yingyupeixun.activity.ShipinDetailActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:screenOrientation="portrait"/>



        <service android:name=".service.MyAPPDownloadService"/>
        <receiver
            android:name=".broadcast.DownloadBro"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="download" />
            </intent-filter>
        </receiver>



        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1106691681" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden">
        </activity>


        <!--微信登录和分享Activity配置-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!--微信支付Activity配置-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <!--这里填写自己的appid,貌似不写也可以-->
                <data android:scheme="wx32725acca4dfcf9f"/>
            </intent-filter>
        </activity>



    </application>

</manifest>