<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sk.maiqian"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".module.home.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".module.home.activity.DaYiJieHuoActivity"/>
        <activity android:name=".module.home.activity.QianZhengDaiBanActivity"/>
        <activity android:name=".module.home.activity.WoYaoLiuYanActivity"/>
        <activity android:name=".module.home.activity.QianZhengActivity"/>
        <activity android:name=".module.home.activity.QianZhengDetailActivity"/>
        <activity android:name=".module.home.activity.DingDanTianXieActivity"/>
        <activity android:name=".module.home.activity.SelectDateActivity"/>
        <activity android:name=".module.home.activity.AddressListActivity"/>
        <activity android:name=".module.home.activity.EditAddressActivity"/>
        <activity android:name=".module.home.activity.PaySuccessActivity"/>
        <activity android:name=".module.home.activity.EditShenQingRenActivity"/>
        <activity android:name=".module.home.activity.ZaiZhiRenYuanActivity"/>
        <activity android:name=".module.yingyupeixun.activity.EnglishPeiXunActivity"/>
        <activity android:name=".module.yingyupeixun.activity.KeChengDetailActivity"/>
        <activity android:name=".module.yingyupeixun.activity.LaoShiJieShaoActivity"/>
        <activity android:name=".module.yingyupeixun.activity.TiJiaoOrderActivity"/>
        <activity android:name=".module.yingyupeixun.activity.YinpinDetailActivity"/>
        <activity android:name=".module.youxue.activity.YouXueActivity"/>
        <activity android:name=".module.youxue.activity.YouXueDetailActivity"/>
        <activity android:name=".module.youxue.activity.YouXueShenQingActivity"/>
        <activity android:name=".module.liuxue.activity.LiuXueShenQingActivity"/>
        <activity android:name=".module.liuxue.activity.LiuXueActivity"/>
        <activity android:name=".module.liuxue.activity.LiuXueDetailActivity"/>
        <activity android:name=".module.my.activity.LoginActivity"/>
        <activity android:name=".module.my.activity.RegisterActivity"/>
        <activity android:name=".module.my.activity.FindPWDActivity"/>
        <activity android:name=".module.my.activity.ResetPWDActivity"/>
        <activity android:name=".module.my.activity.PersonInfoActivity"/>
        <activity android:name=".module.my.activity.JiFenActivity"/>
        <activity android:name=".module.my.activity.JiFenShuoMingActivity"/>
        <activity android:name=".module.my.activity.JiFenMingXiActivity"/>
        <activity android:name=".module.my.activity.MyBankListActivity"/>
        <activity android:name=".module.my.activity.TiXianActivity"/>
        <activity android:name=".module.my.activity.TiXianSuccessActivity"/>
        <activity android:name=".module.my.activity.AddBankActivity"/>
        <activity android:name=".module.my.activity.FenXiaoActivity"/>
        <activity android:name=".module.my.activity.MyMessageActivity"/>
        <activity android:name=".module.my.activity.SettingActivity"/>
        <activity android:name=".module.my.activity.MyAddressListActivity"/>
        <activity android:name=".module.my.activity.EditNicknameActivity"/>
        <activity android:name=".module.my.activity.YiJianFanKuiActivity"/>
        <activity android:name=".module.my.activity.EditPhoneActivity"/>
        <activity android:name=".module.my.activity.MyCollectionActivity"/>
        <activity android:name=".module.my.activity.ZiXunDetailActivity"/>
        <activity android:name=".module.my.activity.LookAnswerActivity"/>
        <activity android:name=".module.order.activity.OrderListActivity"/>
        <activity android:name=".module.order.activity.QianZhengOrderActivity"/>
    </application>

</manifest>